<%= simple_form_for(@listing, :html => {:novalidate => true}, :class => 'form-horizontal')  do |f| %>  

<%= f.error_notification %>
<div class="radio controls">
  <%= f.collection_radio_buttons :agent_id, Agent.all, :id, :name %>
  </div>
  
<%= f.button :submit, "Add Agent" %>

<% end %>