<%= simple_form_for(@sale, :html => {:novalidate => true}, :class => 'form-horizontal')  do |f| %>  

<%= f.error_notification %>
<h1>Select Agent</h1>
<div class="form-actions">
<div class="radio">
  <%= f.collection_radio_buttons :agent_id, Agent.all, :id, :name,item_wrapper_tag: :div, item_wrapper_class: :radio %><br />
  </div>
  

<%= f.button :submit, "Select Agent", class: "btn btn-primary" %>
</div>
<% end %>