<div class="page-header"><h1 class="text-center">New Sale(s) Information</h1></div>
<% if @multiplesales %>
    <%= render 'multiplesaleform', collection: @sales %>
<% else %>
    <%= render 'saleform' %>
<% end %>
