<div class="modal fade" id="new-agent-fields">
<div class="modal-dialog">
<div class="modal-content">	
<div class="modal-header">
<button id="closeButton" class="close" type="button">×</button>
<h3>Add an Agent</h3>
</div>
<div class="modal-body">
<fieldset>
<div class="form-group">
<%= f.input :agent_id, 
          :collection => Agent.all, 
          :as => :radio_buttons, 
          :label => false,
          :checked => true %>
</div>
</fieldset>
</div>
<div class="modal-footer">
<button class="btn btn-primary" id="addButton" title="Add this File to the list of Files." type="button">Select</button>
<button class="btn btn-default" id="cancelButton" title="Close this screen without adding the File to the list." type="button">Cancel</button></div>
</div>
</div>
</div>
<script type="text/javascript">
  selectFieldsUI.init();
</script>
