<div class="navbar navbar-fixed-top">
 <div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/houses/">Housing Database</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Create New House", new_house_path %></li>
          <li><%= link_to "View All Houses", houses_viewall_path %></li>
          <li><%= link_to "Search Houses", houses_search_path %></li>

        </ul>
      </div>
    </div>
  </div>
 </div> 
</div>